body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 span {
  text-decoration: underline;
  color: gray;
}

.modal {
  border: 1px solid #000;
  background-color: #fff;
}

.ReactModal__Overlay {
  background: #ff000014 !important;
}

:root {
  --color-white: #fff;
  --color-black: #000;

  --color-default-text: #848484;
  --color-error-text: #e02424;
  --color-default-border: #c7c7c7;

  --color-primary-background: #f1f1f1;
  --color-primary-background-button: #53b843;

  --color-default-message: var(--gray_300);

  --gray_300: #b2b2b2;
}

::-webkit-scrollbar {
  width: 3px;
  height: 5px;
  background-color: var(--color-default-border);
}

::-webkit-scrollbar-thumb {
  border-radius: 9em;
  background-color: var(--color-default-message);
}

::-webkit-scrollbar-button:vertical:start:decrement {
  background-color: var(--color-default-border);
}

::-webkit-scrollbar-button:vertical:end:increment {
  background-color: var(--color-default-border);
}

::-webkit-scrollbar-button:horizontal:start:decrement {
  background-color: var(--color-default-message);
}

::-webkit-scrollbar-button:horizontal:end:increment {
  background-color: var(--color-default-message);
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px var(--color-primary-background) !important;
  -webkit-text-fill-color: var(--color-default-text) !important;
  color: var(--color-default-text) !important;
}
